menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
    text-transform: uppercase;
}

.nav--left, .nav--right {
    width: max-content;
    margin: 0;
}
.nav--left a, .nav--right a {
    margin: 0 6px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px white;
}

